{{! filter bar }}
<form action='' id='filterForm'>
    <div class='form-group'>
        <label for='filter'>Filter results by:</label>
        <select name='filter' class="dropdown" id='filterChoice'>
            <option value='' disabled selected>Select a filter</option>
            <option value='price'>Max Price</option>
            <option value='zip'>Zip Code</option>
        </select>
    </div>
    <div class='form-group'>
        <label for='filter'>Value:</label>
        <input type='text' id='filterInput' />
    </div>
    <div class='form-group'>
        <button type='submit' class='btn btn-primary' id='filterSubmit'>Filter</button>
    </div>
</form>

{{! history }}

<div>{{message}}</div>
{{! display area }}

<h2>Cheap gas locations:</h2>
<table class="table table-hover">
    <tr>
        <th scope="col">Price</th>
        <th scope="col">Posted By</th>
        <th scope="col">Station</th>
        <th scope="col">Address</th>
        <th scope="col">Zip Code</th>
    </tr>
    <!-- Loop over each object in the prices array -->
    {{#each prices as |price|}}
        <tr scope="row">
            <td>${{price.price}}</td>
            <td>{{price.user.name}}</td>
            <td>{{price.station.name}}</td>
            <td>{{price.station.address}}</td>
            <td>{{price.station.zip}}</td>
        </tr>
    {{/each}}
</table>
<script src='./js/homepage.js'></script>