{{! <form action='' id='filterForm'>
    <div class='form-group input-group mb-3'>
        <button class='btn btn-outline-secondary dropdown-toggle form-group' type='button' data-bs-toggle='dropdown' aria-expanded='false' for='filter'>Filter Search:</button>
        <ul class='dropdown-menu'>
            <li><a class='dropdown-item' value='price'>Max Price</a></li>
            <li><a class='dropdown-item' value='zip'>Zip Code</a></li>
            <li><hr class='dropdown-divider' /></li>
            <li><a class='dropdown-item' href='#'>Separated link</a></li>
        </ul>
        <input type='text' class='form-control' aria-label='Text input with dropdown button' />
        <div class='form-group'>
            <button type='submit' class='btn btn-primary' id='filterSubmit'>Filter</button>
        </div>
    </div>
</form> }}

{{! filter bar }}
<form class='d-flex flex-wrap' action='' id='filterForm'>
    <div class='form-group'>
        <label for='filter'>Filter results by:</label>

        <select name='filter' class='dropdown' id='filterChoice'>
            <option value='' disabled selected>Select a filter</option>

        <select class='dropdown' name='filter' id='filterChoice'>
            <option class='dropdown' value='' disabled selected>Select a filter</option>

            <option value='price'>Max Price</option>
            <option value='zip'>Zip Code</option>
        </select>
    </div>
    <div class='form-group'>
        <label placeholder='Enter value here...' for='filter'></label>
        <input type='text' id='filterInput' />
    </div>
    <div class='form-group'>

        <button type='submit' class='btn btn-primary' id='filterSubmit'>Filter</button>
        <button type='button' class='btn btn-primary' id='resetButton'>Reset</button>

        <button type='submit' class='btn btn-primary' id='filterSubmit'>See My Results</button>

    </div>
</form>

{{! history }}

<div>{{message}}</div>
{{! display area }}

<h2>Cheap gas locations:</h2>

<table class='table table-hover'>

<table class="table table-hover table-style">

    <tr>
        <th scope='col'>Price</th>
        <th scope='col'>Posted By</th>
        <th scope='col'>Station</th>
        <th scope='col'>Address</th>
        <th scope='col'>Zip Code</th>
    </tr>
    <!-- Loop over each object in the prices array -->
    {{#each prices as |price|}}
        <tr scope='row'>
            <td>${{price.price}}</td>
            <td>{{price.user.name}}</td>
            <td>{{price.station.name}}</td>
            <td class='pushpin'>{{price.station.address}}</td>
            <td>{{price.station.zip}}</td>
        </tr>
    {{/each}}
</table>
{{!-- map sizing  --}}
<div class="map-style my-4"id='myMap' style='width: 60vw; height: 80vh;'></div>

<footer class="footer-style my-2">Created by TeamHB's <br> Check out our member's GitHub profiles! 

    <div>
     <a class="footer-text px-1" href="https://github.com/RedComet6"
            target="_blank">
            Aidan Chamberlain
          </a>
          <a class="footer-text px-1" href="https://github.com/gwenewasko"
            target="_blank">
            Gwen Ewasko
          </a>
          <a class="footer-text px-1" href="https://github.com/smarr2198"
            target="_blank">
            Stephen Marr
          </a>
          <a class="footer-text px-1" href="https://github.com/joepamedia/"
            target="_blank">
            Joe Palmisano
          </a>
    </div>
</footer>


<script src='./js/homepage.js'></script>
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=Am4krjad01w8_GGlHlLT0J9PqwIBaWRHbCP6LD8uiR59aTgaK8EwfTPeAMonAJpy&callback=loadMapScenario' async defer></script>