{{! filter bar }}
<h2>search for a gas station here:</h2>
<input type="text"></input>

{{! history }}

<div>{{message}}</div>
{{! display area }}
<!-- Loop over each object in the prices array -->
{{#each prices as |price|}}
    <div class='row mb-4 price'>
        ${{price.price}}

        {{price.user.name}}

        {{price.station.name}}

        {{price.station.zip}}
    </div>
{{/each}}